{% extends 'Organised_chart/Base.html' %}

{% block content %}
    <p>{{ linebreaksbr }}</p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><h5><p>Employee_status    =  <strong>{{ r2.status }}</strong></p></h5></li>
        <li class="list-group-item"><h5><p>Employee id    =  <strong>{{ r2.id }}</strong></p></h5></li>
        <li class="list-group-item"><h5><p>First Name     =  <strong>{{ r2.first_name }}</strong></p></h5></li>
        <li class="list-group-item"><h5><p>Last Name      =  <strong>{{ r2.last_name }}</strong></p></h5></li>
        <li class="list-group-item"><h5><p>Gender         =  <strong>{{ r2.gender }}</strong></p></h5></li>
        <li class="list-group-item"><h5><p>Date of Birth  =  <strong>{{ r2.date_of_birth }}</strong></p></h5></li>
        <li class="list-group-item"><h5><p>Mob no.        =  <strong>{{ r2.work_phone }}</strong></p></h5></li>
        <li class="list-group-item"><h5><p>Email-id       =  <strong>{{ r2.work_email }}</strong></p></h5></li>
        <li class="list-group-item"><h5><p>Working for    =  <strong>{{ r4.name }}</strong></p></h5></li>
        <li class="list-group-item"><h5><p>Department     =  <strong>{{ r3.name }}</strong></p></h5></li>
        <li class="list-group-item"><h5><p>Work type      =  <strong>{{ r2.type }}</strong></p></h5></li>
    </ul>

{% endblock %}